aicsimageio==4.6.4
aicspylibczi==3.0.5
anyio==3.5.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.1
asciitree==0.3.3
astroid==2.9.3
asttokens==2.0.5
autopep8==1.6.0
Babel==2.9.1
backcall==0.2.0
backports.functools-lru-cache==1.6.4
binaryornot==0.4.4
bioformats-jar==6.7.0.post2
black==21.12b0
bleach==4.1.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.0.3
cloudpickle==2.0.0
colabcode==0.3.0
cookiecutter==1.7.3
cycler==0.11.0
czifile==2019.7.2
dask==2022.2.1
debugpy==1.5.1
decorator==5.1.1
defusedxml==0.7.1
dnspython==2.2.0
docopt==0.6.2
elementpath==2.4.0
email-validator==1.1.3
et-xmlfile==1.1.0
executing==0.8.2
fasteners==0.17.3
ffmpeg==1.4
ffprobe==0.5
flake8==4.0.1
fonttools==4.29.1
fsspec==2022.2.0
h11==0.13.0
idna==3.3
imagecodecs==2022.2.22
imageio==2.16.1
imgviz==1.5.0
ipykernel==6.7.0
ipython==8.0.1
ipython-genutils==0.2.0
isort==5.10.1
jedi==0.18.1
jinja2-time==0.2.0
JPype1==1.3.0
json5==0.9.6
jupyter-client==7.1.2
jupyter-core==4.9.1
jupyter-server==1.13.4
jupyterlab==3.0.7
jupyterlab-pygments==0.1.2
jupyterlab-server==2.10.3
kiwisolver==1.3.2
labelme==5.0.1
lazy-object-proxy==1.7.1
locket==0.2.1
lxml==4.8.0
matplotlib==3.3.0
matplotlib-inline==0.1.3
mccabe==0.6.1
mistune==0.8.4
mypy-extensions==0.4.3
natsort==8.1.0
nbclassic==0.3.5
nbclient==0.5.10
nbconvert==6.4.0
nbformat==5.1.3
nest-asyncio==1.4.3
networkx==2.7.1
notebook==6.4.7
numcodecs==0.9.1
numpy==1.22.2
ome-types==0.2.10
opencv-python==3.4.16.59
openpyxl==3.0.9
packaging==21.3
pandas==1.4.1
pandocfilters==1.5.0
parso==0.8.3
partd==1.2.0
pathspec==0.9.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.1
Pint==0.18
pipreq==0.4
pipreqs==0.4.11
platformdirs==2.5.1
poyo==0.5.0
prometheus-client==0.12.0
prompt-toolkit==3.0.24
ptyprocess==0.7.0
pure-eval==0.2.2
pycocotools==2.0.4
pycodestyle==2.8.0
pycparser==2.21
pydantic==1.9.0
pyflakes==2.4.0
Pygments==2.11.2
pylint==2.12.2
pyngrok==5.1.0
pyparsing==3.0.7
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.1
python-dateutil==2.8.2
python-slugify==5.0.2
pytz==2021.3
PyWavelets==1.2.0
PyYAML==6.0
pyzmq==22.3.0
QtPy==2.0.1
requests==2.27.1
scikit-image==0.19.2
scikit-video==1.1.11
scipy==1.8.0
seaborn==0.11.2
Send2Trash==1.8.0
six==1.16.0
sniffio==1.2.0
-e .
stack-data==0.1.4
termcolor==1.1.0
terminado==0.12.1
testpath==0.5.0
text-unidecode==1.3
tifffile==2022.2.9
toml==0.10.2
tomli==1.2.3
toolz==0.11.2
torch==1.10.2
torch-summary==1.4.5
torchvision==0.11.3
tornado==6.1
trackpy==0.5.0
traitlets==5.1.1
typed-ast==1.5.2
typing_extensions==4.1.1
urllib3==1.26.8
uvicorn==0.13.1
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.2.3
wrapt==1.13.3
xarray==2022.3.0
xlrd==2.0.1
xmlschema==1.9.2
yarg==0.1.9
zarr==2.11.0
